USE [master]
GO
/****** Object:  Database [Proyecto]    Script Date: 29/05/2023 14:11:55 ******/
CREATE DATABASE [Proyecto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Proyecto', FILENAME = N'C:\SQL DATA\MSSQL16.SQLDEVELOPER\MSSQL\DATA\Proyecto.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Proyecto_log', FILENAME = N'C:\SQL DATA\MSSQL16.SQLDEVELOPER\MSSQL\DATA\Proyecto_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Proyecto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Proyecto]
GO
/****** Object:  Table [dbo].[Registroalumnos]    Script Date: 29/05/2023 14:11:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registroalumnos](
	[IdPersonas] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[DPI] [varchar](50) NULL,
	[Genero] [varchar](50) NULL,
	[FechadeNacimiento] [varchar](50) NULL,
	[Direccion] [varchar](50) NULL,
	[Carnet] [varchar](50) NULL,
	[Carrera] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPersonas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registrodocentes]    Script Date: 29/05/2023 14:11:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registrodocentes](
	[IdPersonas] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellidos] [varchar](50) NULL,
	[DPI] [varchar](50) NULL,
	[NIT] [varchar](50) NULL,
	[Dirección] [varchar](50) NULL,
	[Correo] [varchar](50) NULL,
	[Cedula] [varchar](50) NULL,
	[Genero] [varchar](50) NULL,
	[Telefono] [varchar](50) NULL,
	[JornadaLaboral] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPersonas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Registroalumnos] ON 

INSERT [dbo].[Registroalumnos] ([IdPersonas], [Nombre], [Apellido], [DPI], [Genero], [FechadeNacimiento], [Direccion], [Carnet], [Carrera], [Email]) VALUES (1, N'Dennis', N'Isem', N'2766510731601', N'Masculino', N'24/09/2004', N'Tactic', N'0902-22-9675', N'Ingenieria en Sistemas', N'dxonai@miumg.edu.gt')
SET IDENTITY_INSERT [dbo].[Registroalumnos] OFF
GO
USE [master]
GO

use Proyecto
go
select * from Registroalumnos
delete from Registroalumnos

TRUNCATE TABLE Registroalumnos
